#progressHeader{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

#progressform{
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    margin-bottom: 30px;
    background: #fff;
}
